@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  section {
    @apply max-w-4xl mx-auto py-10 px-4 sm:px-6;
  }
  p {
    @apply text-xs leading-relaxed tracking-wider;
  }
}

@layer utilities {
  .grid-layout {
    @apply grid gap-4 md:grid-cols-2 mt-8;
  }
  .input-class {
    @apply w-full p-3 rounded-md bg-gray-950/50 border border-gray-800 text-sm text-gray-100 placeholder-gray-600 focus:ring-1 focus:ring-white
     focus:border-white transition-all outline-none focus:bg-gray-900;
  }
  .label{
    @apply text-[10px] uppercase text-gray-500 tracking-wider mb-2
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #fff;
  }
}
